@import url('https://fonts.googleapis.com/css?family=Poppins');



body {
    background-color: #ffffff;
    font-family: 'Poppins';
    font-weight: bold;
  }

  header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo {
    width: 60px;
    margin-right: 1rem;
    padding: 0;
  }

  #search {
    width: 60px;
    margin-right: 1rem;
    padding: 0;
  }

  .myform label{
      rgba (0,0,0,0.5);
  }
  .myform input {
    background: url("images/magnifying-glass.png") no-repeat scroll 7px 7px;
  }

  .myform button {
      background-color: #fb3e44;
      color: white;
  }

  #join-button {
      border: black;
  }

  .join-div a {
    list-style: none;
    text-decoration: none;
    color: black;
    }

    #see-plans {
      background-color: rgba(232,217,217,.3);
      height: 600px;

    }



    .npm-article {
        display: flex;
        justify-content: center;
        
    }

    .see-join {
        
        display: flex;
        justify-content: center;
        
    }

    .open-source {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 600px;
    }

    #hexagon {
        width: 25%;
        height: 25%;
        display: flex;
        justify-content: center;
    }
    
    .bat-heading {
        font-size: 5.5em;
        display: flex;
        justify-content: center;
    }

    #button-sp {
        background-color: #FB3B49;
        border: none;
        color: white;
        padding: 15px 32px;
        margin: 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        box-shadow: 8px 8px 0 rgba(251,59,73,.2);
      }
    
      #button-jf {
        background-color: white;
        border: none;
        color: black;
        padding: 15px 32px;
        margin: 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

      #thebest {
          background-color: rgba(255,204,53,.4);
          transform: skew(9deg,0deg);
          font-style: italic;
      }

      .npm-article {
          margin-left: 39%;
          margin-right: 39%;
          text-align: center;
      }

      .npm-article1 {
        margin-left: 30%;
        margin-right: 30%;
        text-align: center;
    }

      .mybox {
          display: flex;
          padding: 2%;
          }
       .box1 {
           padding: 1%;
       }   

      .mybox img {
          height: 15%;
      }

      .mybox h1 {
          color: #ED1C24;
          align-self: auto;
      }

      .description {
          padding-bottom: 10%;
          padding-top: 4%;
      }

      

      section .btm-img {
          width: 10%;

      }

      #last-div {
        padding: 70px 0;
        display: flex;
        justify-content: center;
      }

      #button-org {
        box-shadow: 8px 8px 0 rgba(128,83,35,.2);
        color: white;
        background-color: black;
        text-decoration: none;
        padding: 15px 85px;
        
      }
      

  

  